<template>
    <div>
        <header
            id="header" class="header container col-md-8 d-flex flex-column flex-md-row align-items-center ju p-3 px-md-4 mb-3 bg-white border-bottom box-shadow justify-content-between">
            <a class="header__link" href="https://gitlab.com/robii33/vue-exam"><img class="header__logo"
                    src="@/assets/images/gitlab.svg" alt="logo" width="50"></a>
            <router-link to="/" class="header__title my-0 mr-md-auto font-weight-normal">Сервис
                собеседований</router-link>

            <a class="header__json-button" href="http://localhost:3000/tasks">main.json</a>
            <!-- <a class="header__register-button btn btn-outline-primary" href="#">Регистрация</a> -->
            <img class="header__image" src="@/assets/images/person.svg" alt="profile">
            <p class="header__item">Администратор</p>
            <a class="header__logout-link" href="#">Выход</a>
        </header>

        <main class="container col-md-8 main">

            <!-- form -->

            <TaskComponent />

            <h3 main__reviews-title>Отзывы</h3>
            <div class="card-wrapper">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="200" src="@/assets/images/Джордж.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">George</h5>
                        <p class="card-text">"Better than LeetCode!"</p>

                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="200" src="@/assets/images/Anastasia.webp" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Анастасия</h5>
                        <p class="card-text">"Прокачиваю свои знания алгоритмов только на этом сайте!"</p>

                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" height="200" src="@/assets/images/Egor.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Егор</h5>
                        <p class="card-text">"Благодаря постоянному решению задач на этом сайте, смог устроиться на
                            работу Python-разработчиком!"</p>

                    </div>
                </div>
            </div>

        </main>


        <footer class="container col-md-8 footer">
            <hr>
            <form class="footer__form col-md-4">
                <h4>Оставьте свой отзыв!</h4>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Введите email" required>
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" placeholder="Введите своё имя" required>
                </div>
                <div class="form-group">
                    <label for="name">Отзыв</label>
                    <input type="text" class="form-control" id="review" placeholder="Напишите отзыв" required>
                </div>
                <button type="submit" class="btn btn-primary submit-button">Отправить</button>
            </form>
            
        </footer>

    </div>
</template>
<script>

import TaskComponent from '../components/TaskComponent.vue';
// import FormComponent from '../components/FormComponent.vue';


export default {
    name: "main-component",
    components: {
        TaskComponent,
        // FormComponent
    }
    // data() {
    //     return {
    //         tasks: [

    //         ],
    //         columns: ['title', 'difficulty'],
    //     }
    // },
    // async created() {
    // try {
    //     const res = await axios.get('http://localhost:3000/tasks');

    //     this.tasks = res.data
    // } catch (e) {
    //     console.error(e);
    // }
    // }
    // computed: {
    //     originalData() {
    //         return this.getItems()
    //     },
    // },

};

</script>
<style lang="scss">
.main {
    &__link {
        &:hover {
            color: blue;
            transition: 0.2s ease;
        }
    }

    &__create-title {
        font-size: 24px;
    }

    &__form {
        margin-bottom: 3px;
    }

    &__reviews-title {
        font-size: 18px;
    }
}

.card-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    img {
        object-fit: cover;
        object-position: 100% 20%;
    }
}

h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    
    padding-bottom: 20px;
    .footer__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}
.submit-button {
    margin-top: 10px;
}
</style>