<template>
    <div class="wrapper">
        <header
            class="header container col-md-8 d-flex flex-column flex-md-row align-items-center ju p-3 px-md-4 mb-3 bg-white border-bottom box-shadow justify-content-between">
            <a class="header__link" href="https://gitlab.com/robii33/vue-exam"><img class="header__logo"
                    src="@/assets/images/gitlab.svg" alt="logo" width="50"></a>
            <router-link to="/" class="header__title my-0 mr-md-auto font-weight-normal">Сервис
                собеседований</router-link>

            <a class="header__json-button" href="http://localhost:3000/tasks">main.json</a>
            <!-- <a class="header__register-button btn btn-outline-primary" href="#">Регистрация</a> -->
            <img class="header__image" src="@/assets/images/person.svg" alt="profile">
            <p class="header__item">Администратор</p>
            <a class="header__logout-link" href="#">Выход</a>
        </header>

        <main class="container col-md-8 main">
            <h1 class="main__title my-0 mr-md-auto font-weight-normal">Задание - {{ task.title }}</h1>
            <p class="main__description task-description mr-md-auto font-weight-normal">{{ task.description }}</p>

            <form class="main__form col-lg-6" method="post">
                <label class="main__label" for="answer">Решение:</label>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea rows="20" class="form-control" id="exampleFormControlTextarea1" placeholder="Введите своё решение"></textarea>
                </div>
                <button class="main__button task-button btn btn-success">Отправить ответ</button>
            </form>
        </main>
        <footer class="container footer">
            <p class="text-center"></p>
        </footer>
    </div>
</template>
<script>

import axios from 'axios';

export default {
    name: 'task-component',
    data() {
        return {
            task: [

            ]
        }
    },
    async created() {
        let self = this
        try {
            const res = await axios.get('http://localhost:3000/tasks');

            let data = res.data

            data.forEach(function (data) {
                if (data.id == +self.$route.params.id) {
                    console.log(data.id, +self.$route.params.id)
                    self.task = data
                }
            });
        } catch (e) {
            console.error(e);
        }
    },
}
</script>
<style lang="scss">
.main {
    .task-description {
        margin-top: 30px;
        font-size: 18px;
    }

    .task-textarea {
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
    }

    .task-button {
        margin: 30px 0;

    }

    .tasks-link {
        font-size: 24px;
        text-decoration: none;
    }

    .task-id {
        pointer-events: none;
        background: rgb(225, 225, 225);
    }

    .register-input {
        margin-bottom: 20px;
    }
}


</style>