<template>
    <div class="main__form mb-5 mt-4">
        <h1 class="main__create-title">Создайте задание</h1>
        <p class="main__description">Создайте задание для того, чтобы другие могли попробовать его решить.</p>
        <form class="main__form form">
            <div class="form__group group input-group mb-3">

                <label class="input-group-text" for="title" id="basic-addon1">Название</label>
                <input type="text" id="title" class="form-control" placeholder="Введите название задачи" v-model="title"
                    aria-describedby="basic-addon1" required>
            </div>

            <div class="form__group group input-group mb-3">
                <label for="desc" class="input-group-text" id="basic-addon1">Описание</label>
                <input id="desc" type="text" class="form-control" placeholder="Введите описание задачи"
                    aria-describedby="basic-addon1" v-model="description" required>
            </div>
            <div class="form__group col-md-12 group input-group mb-3">

                <label for="dif" class="input-group-text" id="basic-addon1">Сложность</label>
                <button type="button" class="btn btn-secondary" @click="increase">+</button>
                <input id="dif" class="form-control" type="number" placeholder="От 1 до 10" v-model="count"
                    :min="minCount" :max="maxCount" required>
                <button type="button" class="btn btn-secondary" @click="decrease">-</button>


            </div>
            <div class="button-wrapper d-flex justify-content-center">
                <button class="form__button btn btn-primary" type="submit" @click="addTask">Добавить</button>
            </div>

        </form>
    </div>
</template>
<script>
import axios from 'axios';

const baseURL = 'http://localhost:3000/tasks'

export default {
    name: 'FormComponent',
    data() {
        return {
            tasks: [],
            title: '',
            description: '',
            count: 1,
            minCount: 1,
            maxCount: 10
        }

    },
    async mounted() {
        // this.getItems();
        // this.sortedData = this.getItems();

        // console.log(this.sortedData);
        try {
            const res = await axios.get(baseURL);

            this.tasks = res.data;
        } catch (e) {
            console.error(e);
        }
    },
    methods: {
        async addTask() {
            if (this.title != '' && this.description != '' && this.count != '' && this.count < 11 && this.count > 0) {
                const res = await axios.post(baseURL, { title: this.title, description: this.description, difficulty: +this.count });

                this.tasks = [...this.tasks, res.data];

                this.title = '';
                this.description = '';
                this.count = '';


                this.$emit('addTask', this.tasks)
            }

        },
        increase() {
            if (this.count < this.maxCount) {
                this.count++
            }
        },
        decrease() {
            if (this.count > this.minCount) {
                this.count--
            }
        }
    }
}
</script>
<style lang="scss">
#dif {
    flex: 0 1 120px;
}

.form__button {
    width: 180px;
}
</style>