<template>
    <div>
        <FormComponent @addTask="addTask" />

        <h2 class="main__title">Задания</h2>
        
        <div class="input-group">
            <div class="form-outline">
                <!-- <img src="@/assets/images/search.svg" alt="search"> -->
                <input type="search" id="form1" class="form-control" v-model="search" placeholder="Поиск" />
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="cell" @click="sortList('id')">ID &#8597;</th>
                    <th class="cell" @click="sortList('title')">Название &#8597;</th>
                    <th id="dif-th">
                        <p @click="sortList('difficulty')" class="cell"> Сложность &#8597;</p>
                        <input id="dif" class="form-control" type="number" placeholder="От 1 до 10" v-model="filterDifficulty"
                    min="1" max="10" required>
                        
                </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(data, index) in filteredItems('hey')" :key="index">
                    <td>{{ data.id }}</td>
                    <td><router-link class="main__link" :to="'/task/' + data.id">{{ `${data.title} &#x2192;`
                    }}</router-link></td>
                    <td>{{ data.difficulty }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>

import axios from 'axios';

import FormComponent from '../components/FormComponent.vue';

export default {
    name: 'TaskComponent',
    data() {
        return {
            sortedData: [],
            sortedbyASC: true,
            search: '',
            filterDifficulty: ''
        };
    },
    components: {
        FormComponent
    },
    async mounted() {
        // this.getItems();
        // this.sortedData = this.getItems();

        // console.log(this.sortedData);
        try {
            const res = await axios.get('http://localhost:3000/tasks');

            this.sortedData = res.data
        } catch (e) {
            console.error(e);
        }
    },
    methods: {
        sortList(sortBy) {
            if (this.sortedbyASC) {
                this.sortedData.sort((x, y) => (x[sortBy] > y[sortBy] ? -1 : 1));
                this.sortedbyASC = false;
            } else {
                this.sortedData.sort((x, y) => (x[sortBy] < y[sortBy] ? -1 : 1));
                this.sortedbyASC = true;
            }
        },
        addTask(tasks) {
            console.log(1);
            console.log(tasks);

            this.sortedData = tasks;
        },
        filteredItems(flag) {
            if (flag == 'dif' && this.filterDifficulty != '') {
                console.log(this.filterDifficulty);
                return this.sortedData.filter(item => { 
                    let dif = item.difficulty;
                    let str = dif.toString();
                    console.log(str)
                    console.log(this.filterDifficulty, "dif")
                    return str.toLowerCase().indexOf(this.filterDifficulty.toLowerCase()) > -1;
                })
            }
            return this.sortedData.filter(item => {
                return item.title.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
            })
        }
    },
    
}
</script>
<style lang="scss">
    #dif-th {
        display: flex;
        align-items: flex-end;
        p {
            margin-bottom: 0;
        }
        input {
            margin-left: 10px;
        }
    }
    h2 {
        font-size: 24px;
    }

    .cell {
        @media (max-width: 950px) {
            font-size: 12px;
        }
    }


</style>