<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'

export default {
    name: 'App',
    components: {

    }
}
</script>

<style>

</style>
