* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.header {


    &__title {
        color: black;
        font-weight: 700;
        font-size: 18px;

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }

    &__link {
        &:hover {
            text-decoration: underline;
            color: black;
        }
    }
    &__title {
        margin-right: auto;
        margin-left: 30px;

        @media (max-width: 767px) {
            margin: 0;
        }
    }
    
    &__json-button {
        margin-right: 50px;
        margin-left: 20px;

        @media (max-width: 767px) {
            margin: 0;
        }
    }

    &__item {
        margin: auto 0px;
        margin-left: 10px;
        @media (max-width: 767px) {
            margin: 0;
        }
    }

    &__image {
        width: 30px;
        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }

    &__logout-link {
        margin-left: 20px;
        &:hover {
            text-decoration: underline;
        }

        @media (max-width: 767px) {
            margin: 0;
        }
        
    }
}



a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

@media print {
    html, body {
        background-image: none;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;

    }
    h1, h2, h3 { 
        page-break-before: always; 
    }

    header, footer, .main__form {
        display: none;
    }

    main {
        width: 100%;
    }
}